{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<h2>Log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Log in</button>
</form>
<a href="{% url 'account_reset_password' %}">Forgot Password?</a>

<h3 class="feature-title">&nbsp;</h3>
<h3 class="feature-title">&nbsp;</h3>
<h3 class="feature-title">&nbsp;</h3>
<h3 class="feature-title">&nbsp;</h3>
<h3 class="feature-title"> Have Some Questions?</h3>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Name" name="">
</div>
<div class="form-group">
  <input type="email" class="form-control" placeholder="What's your email?" name="email">
</div>
<div class="form-group">
  <textarea class="form-control" placeholder="Your Questions...." name="email" rows="4"></textarea>
</div>
<input type="submit" class="btn btn-success" value="Send" name="">
{% endblock content %}