{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About page</h1>


<h5>BITS Pilani’s Mission is to provide the community with a fully functional and user interactive online tool which can help the needy with their basic needs like food, clothes. Our noble thought is to provide food, clothing, education to the needy. Any organization which wants to help relieve hunger in their community is welcome to use our website </h4>

<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">Team</h1>
<p class="bd-lead">An overview of the founding team and core contributors</p>       

<div class="list-group mb-3">
  
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/Radhesh-Sarma">
      <img src="https://github.com/Radhesh-Sarma.png" alt="@Radhesh-Sarma" width="60" height="60" class="rounded mr-2" />
      <span>
        <h5><strong>Radhesh Sarma</strong> </h6> <h7>Full Stack Developer</h7>
      </span>
    </a>

      <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/Simran-Sahni">
      <img src="https://github.com/Simran-Sahni.png" alt="@Simran-Sahni"  width="60" height="60" class="rounded mr-2" />
      <span>
        <h5><strong>Simran Sahni</strong> </h6> <h7>Backend Developer</h7>
      </span>
    </a>

        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/samael042">
      <img src="https://github.com/samael042.png" alt="@samael042"  width="60" height="60" class="rounded mr-2" />
      <span>
        <h5><strong>Nikhil Mohan Krishna</strong> </h6> <h7>Backend Developer</h7>
      </span>
    </a>

        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/mantrir20">
      <img src="https://github.com/mantrir20.png" alt="@mantrir20"  width="60" height="60" class="rounded mr-2" />
      <span>
        <h5><strong>Raunak Mantri</strong> </h6> <h7>Backend Developer</h7>
      </span>

      <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/AbhirathS">
      <img src="https://github.com/AbhirathS.png" alt="@mantrir20"  width="60" height="60" class="rounded mr-2" />
      <span>
        <h5><strong>AbhirathS</strong> </h6> <h7>Frontend Developer</h7>
      </span>

      <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://www.facebook.com/PataNahi0">
      <img src="https://scontent.fbom3-1.fna.fbcdn.net/v/t1.0-1/p960x960/61419845_622317214919792_7143921422442692608_o.jpg?_nc_cat=108&_nc_sid=dbb9e7&_nc_ohc=XR0Fgi3GkkUAX8NKKbv&_nc_ht=scontent.fbom3-1.fna&_nc_tp=6&oh=03c14f37732c7cdbfb35ee5297b323db&oe=5EFB8B09" alt="" width="60" height="60" class="rounded mr-2" />
      <span>
      <h5><strong>Pranjal Shukla</strong> </h6> <h7>
        Special Thanks for valuable feedback,suggestions</h7>
      </span>
    </a>

    



<footer>
              <p><h6 style="text-align: center" >Made with <i class="icon ion-heart"></i> in BITS Pilani Hyderabad Campus</h6></a>.</p>
      </footer>
{% endblock content %}