{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About page</h1>
<h4>BITS Pilani’s Mission is to provide the community with a fully functional and user interactive online tool which can help the needy with their basic needs like food, clothes. Our noble thought is to provide food, clothing, education to the needy. Any organization which wants to help relieve hunger in their community is welcome to use our website </h4>
<footer>
      <ul class="links">
        
              <p><h6 style="text-align: center" >Made with <i class="icon ion-heart"></i> in BITS Pilani Hyderabad Campus</h6></a>.</p>
              <p><h6 >About Developer </h6></a>.</p>
        <a class="btn btn-social-icon btn-github" href="" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);"><span class="fa fa-github"></span></a>
         <a href="" class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span class="fa fa-facebook"></span></a>
      </ul>
      </footer>
{% endblock content %}