{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About page</h1>


<h5>BITS Pilani’s Mission is to provide the community with a fully functional and user interactive online tool which can help the needy with their basic needs like food, clothes. Our noble thought is to provide food, clothing, education to the needy. Any organization which wants to help relieve hunger in their community is welcome to use our website </h4>

<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">Team</h1>
<p class="bd-lead">An overview of the founding team and core contributors</p>       

<div class="list-group mb-3">
  
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/Radhesh-Sarma">
      <img src="https://github.com/Radhesh-Sarma.png" alt="@Radhesh-Sarma" width="50" height="50" class="rounded mr-2" />
      <span>
        <strong>Radhesh Sarma</strong> @Radhesh-Sarma Full Stack Developer
      </span>
    </a>

      <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/Simran-Sahni">
      <img src="https://github.com/Simran-Sahni.png" alt="@Simran-Sahni" width="50" height="50" class="rounded mr-2" />
      <span>
        <strong>Simran Sahni</strong> @Simran-Sahni Backend Developer
      </span>
    </a>

        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/samael042">
      <img src="https://github.com/samael042.png" alt="@samael042" width="50" height="50" class="rounded mr-2" />
      <span>
        <strong>Nikhil Mohan Krishna</strong> @samael042 Backend Developer
      </span>
    </a>

        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/mantrir20">
      <img src="https://github.com/mantrir20.png" alt="@mantrir20" width="50" height="50" class="rounded mr-2" />
      <span>
        <strong>Raunak Mantri</strong> @mantrir20 Backend Developer
      </span>

      <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://www.facebook.com/PataNahi0">
      <img src="https://scontent.fbom3-1.fna.fbcdn.net/v/t1.0-1/p960x960/61419845_622317214919792_7143921422442692608_o.jpg?_nc_cat=108&_nc_sid=dbb9e7&_nc_ohc=XR0Fgi3GkkUAX8NKKbv&_nc_ht=scontent.fbom3-1.fna&_nc_tp=6&oh=03c14f37732c7cdbfb35ee5297b323db&oe=5EFB8B09" alt=""width="50" height="50" class="rounded mr-2" />
      <span>
        Special Thanks to <strong>Pranjal Shukla </strong> for valuable feedback,suggestions
      </span>
    </a>

    



<footer>
              <p><h6 style="text-align: center" >Made with <i class="icon ion-heart"></i> in BITS Pilani Hyderabad Campus</h6></a>.</p>
      </footer>
{% endblock content %}