
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Views &#8212; Resource Sharing Beta 1.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <script src="../../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../../genindex/" />
    <link rel="search" title="Search" href="../../search/" />
    <link rel="next" title="Forms" href="../forms/" />
    <link rel="prev" title="Models" href="../models/" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="module-users.views">
<span id="views"></span><h1>Views<a class="headerlink" href="#module-users.views" title="Permalink to this headline">¶</a></h1>
<span class="target" id="module-blog.views"></span><dl class="py function">
<dt id="blog.views.home">
<code class="sig-prename descclassname">blog.views.</code><code class="sig-name descname">home</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">request</span></em><span class="sig-paren">)</span><a class="headerlink" href="#blog.views.home" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="py function">
<dt id="blog.views.remove">
<code class="sig-prename descclassname">blog.views.</code><code class="sig-name descname">remove</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">request</span></em>, <em class="sig-param"><span class="n">item_id</span></em><span class="sig-paren">)</span><a class="headerlink" href="#blog.views.remove" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="py function">
<dt id="blog.views.task_list">
<code class="sig-prename descclassname">blog.views.</code><code class="sig-name descname">task_list</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">request</span></em><span class="sig-paren">)</span><a class="headerlink" href="#blog.views.task_list" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<span class="target" id="module-pages.views"></span><dl class="py class">
<dt id="pages.views.AboutPageView">
<em class="property">class </em><code class="sig-prename descclassname">pages.views.</code><code class="sig-name descname">AboutPageView</code><span class="sig-paren">(</span><em class="sig-param"><span class="o">**</span><span class="n">kwargs</span></em><span class="sig-paren">)</span><a class="headerlink" href="#pages.views.AboutPageView" title="Permalink to this definition">¶</a></dt>
<dd><dl class="py attribute">
<dt id="pages.views.AboutPageView.template_name">
<code class="sig-name descname">template_name</code><em class="property"> = 'pages/about.html'</em><a class="headerlink" href="#pages.views.AboutPageView.template_name" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

<dl class="py class">
<dt id="pages.views.HomePageView">
<em class="property">class </em><code class="sig-prename descclassname">pages.views.</code><code class="sig-name descname">HomePageView</code><span class="sig-paren">(</span><em class="sig-param"><span class="o">**</span><span class="n">kwargs</span></em><span class="sig-paren">)</span><a class="headerlink" href="#pages.views.HomePageView" title="Permalink to this definition">¶</a></dt>
<dd><dl class="py attribute">
<dt id="pages.views.HomePageView.template_name">
<code class="sig-name descname">template_name</code><em class="property"> = 'pages/home.html'</em><a class="headerlink" href="#pages.views.HomePageView.template_name" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../">Resource Sharing</a></h1>








<h3>Navigation</h3>
<p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../all-about-us/">All about us</a></li>
<li class="toctree-l1"><a class="reference internal" href="../models/">Models</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../forms/">Forms</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../">Documentation overview</a><ul>
      <li>Previous: <a href="../models/" title="previous chapter">Models</a></li>
      <li>Next: <a href="../forms/" title="next chapter">Forms</a></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search/" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2020, Radhesh Sarma, Simran Sahni, Nikhil Mohan Krishna, Abhirath Singh.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 3.0.0</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../_sources/modules/views.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>